
<div class="row">
	<h1 class="col-md-8 float-left">Devices</h1>
	<button id="configButton" class="btn btn-info float-right" ng-click="switchMode()">{{configButtonText}}</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Device Name</th>
			<th>IP-adress</th>
			<th>MAC-adress</th>
			<th>Type</th>
			<th>Added Date</th>
		</tr>
	</thead>
	<tbody id="new-device-row">
		<tr ng-show="configMode">
			<td><input class="form-control" placeholder="New Device Name"ng-model="newDeviceName"></input></td>
			<td><input class="form-control" placeholder="New Device IP" ng-model="newDeviceIP"></input></td>
			<td><input class="form-control" placeholder="New Device MAC"ng-model="newDeviceMAC"></input></td>
			<td><input class="form-control" placeholder="New Device Type"ng-model="newDeviceType"></input></td>
			<td><button class="btn btn-primary" ng-click="addDevice()">Add Device</button></td>
		</tr>

		<tr ng-repeat="device in devices | reverse" ng-class="$index == currEdit ? 'edit' : ''">
			<td>
				<input ng-model="editDevice[device._id].name" ng-show="$index == currEdit" placeholder="{{device.name}}"></input>
				<div ng-hide="$index == currEdit">{{device.name}}</div>
			</td>
			<td>
				<input ng-model="editDevice[device._id].ipAdress" ng-show="$index == currEdit" placeholder="{{device.ipAdress}}"></input>
				<div ng-hide="$index == currEdit">{{device.ipAdress}}</div>
			</td>
			<td>
				<input ng-model="editDevice[device._id].macAdress" ng-show="$index == currEdit" placeholder="{{device.macAdress}}"></input>
				<div ng-hide="$index == currEdit">{{device.macAdress}}</div>
			</td>
			<td>
				<input ng-model="editDevice[device._id].type" ng-show="$index == currEdit" placeholder="{{device.type}}"></input>
				<div ng-hide="$index == currEdit">{{device.type}}</div>
			</td>
			<td>{{device.addedDate | date : medium}}</td>
			<td ng-show="configMode">
				<button class="btn btn-warning" ng-click="editThis($index)" ng-hide="$index == currEdit">Edit this</button>
				<button class="btn btn-info" ng-click="update(device._id)" ng-show="$index == currEdit">Save update</button>
			</td>
			<td ng-show="configMode"><button class="btn btn-danger" ng-click="removeDevice(device._id)">Remove Device</button></td>
		</tr>
	</tbody>	
</table>


<div class="container" ng-show="false">
	<div class="device">
		<div class="row">
			<div class="col-md-3">LOREM IPSUM</div>
			<div class="col-md-3">LOREM IPSUM</div>
			<div class="col-md-3">LOREM IPSUM</div>
			<div class="col-md-3">LOREM IPSUM</div>
		</div>
	</div>
</div>