body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

#configButton {
	vertical-align: center;
}

.device {
	outline: 1px solid orange;
}

p {
	word-wrap: break-word;
}

div.userinfo * {
	border: 1px solid black;
	margin: 4;
}

img {
	width: 100%;
	border:1px solid black;
}