body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

#configButton {
	vertical-align: center;
}

.device {
	outline: 1px solid orange;
}