<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home" ng-click="setActive(0)">Fine ass logo</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li ng-repeat="item in navItems" ng-class="$index == selectedTab ? 'active' : ''"  ng-show="item.showWhenLoggedOut && item.showWhenLoggedIn || isLoggedIn && item.showWhenLoggedIn || !isLoggedIn && item.showWhenLoggedOut">
          <a href="#{{item.href}}" ng-click="setActive($index)">{{item.text}}</a>
        </li>


      </ul>
      <form ng-cloak id="signin" class="navbar-form navbar-right" role="form">
        <div ng-show="!isLoggedIn">

          <div ng-cloak class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-envelope"></i>
            </span>
            <input id="email" class="form-control" type="email" placeholder="Email Address" value="" ng-model="user.email"></input>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input id="password" class="form-control" type="password" placeholder="Password" value="" ng-model="user.password"></input>
          </div>
          <button class="btn btn-primary" ng-click="logIn()">
            Login
          </button>
        </div>
        <div ng-cloak ng-show="isLoggedIn">
          <button class="btn btn-primary navbar-right navbar-form" ng-click="logOut()">
            Logout
          </button>
        </div>

      </form>
          <button ng-show="$root.loading" class="btn btn-primary navbar-right navbar-form" >
            LOADING
          </button>
    </div>

  </div>
</nav>

